<div class="properties-panel">
    <h3 class="panel-title">Свойства</h3>
    <ul class="property-list">
        <li class="property">
            <span class="property-label">Идентификатор:</span>
            <span class="property-value">{{selectedObject()?.id}}</span>
        </li>
        <li class="property">
            <span class="property-label">Наименование:</span>
            <span class="property-value">{{selectedObject()?.name}}</span>
        </li>
        <li class="property">
            <span class="property-label">Тип:</span>
            <span class="property-value">{{selectedObject()?.type}}</span>
        </li>
    </ul>
</div>