/* You can add global styles to this file, and also import other style files */
/* Подключение шрифта, близкого к системному интерфейсу Windows */
@import url('https://googleapis.com');

:root {
  --primary-bg: #007D70;
  /* Фирменный бирюзовый цвет шапки */
  --primary-bg-hover: #00665C;
  /* Цвет табов при наведении */
  --accent: #1967d2;
  /* Фирменный бирюзовый цвет шапки */
  --window-bg: #F4F4F4;
  /* Светло-серый фон приложения */
  --panel-bg: #FFFFFF;
  /* Белый фон для панелей и карточек */
  --panel-stroke: #e0e0e0;
  /* Обводка для панелей и карточек */
  --sidebar-border: #DCDCDC;
  /* Граница разделения блоков */
  --text-main: #222524;
  /* Основной цвет текста */
  --text-muted: #777777;
  /* Цвет подписей и неактивных элементов */
  --icon: #5f6368;
  /* Цвет иконок */
  --icon-hovered: #202124;
  /* Цвет иконок при наведении */
  --input-border: #CCCCCC;
  /* Рамка полей ввода */
  --item-bg-hovered: #f3f3f3;
  /* Фон элемента в дереве при наведении*/
  --active-item-bg: #E5E5E5;
  /* Фон выбранного элемента в дереве */
  --font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;

  font-family: var(--font-family);
  color: var(--text-main);
  background-color: var(--window-bg);
  height: 100vh;
  overflow: hidden;
}